<% if(session.cart) { %>
    <section class="cart py-5">
        <div class="order container mx-auto" style="width: 50%;">
            <div class="d-flex justify-content-start border-bottom pb-4">
                <img class="me-3" src="img/cart-black.png" alt="cart">
                <h3 class="fw-bold">Order Summary</h2>
            </div>
            <div class="pizza-list my-4">
                <% for(let pizza of Object.values(session.cart.items)) { %>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="img/<%= pizza.item.image %> " alt="" style="width: 6rem;">
                        <div class="ms-3 flex-fill">
                            <h4>
                                <%= pizza.item.name %>
                            </h4>
                            <span style="text-transform: uppercase;">
                                <%= pizza.item.size %>
                            </span>
                        </div>

                        <span class="flex-fill text-center">
                            <%= pizza.qty %> Pcs
                        </span>
                        <span class="fw-bold flex-fill text-end">₹<%= pizza.qty*pizza.item.price %> </span>



                    </div>
                    <% } %>
            </div>

            <hr>
            <div class="text-end py-4">
                <div>
                    <span class="fw-bold">Total Amount: </span>
                    <span class="amount fw-bold ml-2">₹<%= session.cart.totalPrice %> </span>
                </div>

                <div>
                    <form action="" class="mt-5">
                        <input class="border p-2 mb-3" type="text" style="width: 50%;" placeholder="Phone number">
                        <input class="border p-2" type="text" style="width: 50%;" placeholder="Address">
                        <!-- <div>
                    <button class="btn-primary rounded-pill px-2 py-1 mt-3" type="submit">Order Now</button>
                </div> -->
                    </form>
                </div>

                <a class="d-inline-block btn-primary rounded-pill px-2 py-1 mt-3" href="" style="cursor: pointer;">Login
                    to
                    continue</a>

            </div>

        </div>
        <%} else { %>


            <div class="empty-cart">
                <div class="container mx-auto text-center">
                    <h1 class="fw-bold mb-3 pt-5">Cart Empty😕</h1>
                    <p>You probably haven't ordered a pizza yet. <br>To order a pizza, go to the main page </p>
                    <img class="d-block img-fluid mx-auto" src="img/empty-cart.png" alt="empty-cart"
                        style="width: 40%;">
                    <a href="/" class="d-inline-block rounded-pill btn-primary px-3 py-1 my-4">Go Back</a>
                </div>
            </div>
            <%} %>
    </section>